.ihc-promotions {
  background-image: url("../images/ad-bg-pattern.png");
  background-repeat: repeat; }
  .ihc-promotions .ihc-promotion-title {
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-family: 'Lato',sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #aaaaaa; }
  .ihc-promotions .slideshow-section {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    z-index: 200; }
    .ihc-promotions .slideshow-section img {
      width: 100%;
      display: block;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none; }
  .ihc-promotions .slides-container {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    position: relative;
    width: 100%; }
  .ihc-promotions .slideshow, .ihc-promotions .slides-footer {
    position: relative;
    width: 100%; }
    @media (max-width: 768px) {
      .ihc-promotions .slideshow, .ihc-promotions .slides-footer {
        position: static; } }
  .ihc-promotions .slideshow {
    z-index: 200;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    flex-wrap: wrap; }
  .ihc-promotions .slides {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    position: relative;
    z-index: 1;
    width: 250px;
    height: 250px; }
  .ihc-promotions .slide {
    position: absolute;
    background-color: #000000;
    width: 250px;
    cursor: pointer;
    /*
        img{
          width: $img-width + px;
          opacity: 1;
          transition-property: opacity, width;
          -webkit-transition-property: opacity, width;
          transition-duration: 0.5s;
          -webkit-transition-duration: 0.5s;
        }
    
        &:nth-child(1){
          margin-left: 0px;
          z-index: 4;
    
          img{
            width: $img-width + px;
            opacity: 1;
          }
        }
    
        &:nth-child(2){
          margin-left: -($child-2-w - 12) + px;
          z-index: 3;
    
          img{
            opacity: 0.75;
            width: $child-2-w + px;
          }
        }
    
        &:nth-child(3){
          margin-left: -($child-3-w - 12) + px;
          z-index: 2;
    
          img{
            opacity: 0.5;
            width: $child-3-w + px;
          }
        }
    
        &:nth-child(4){
          &.animating{
            margin-left: -($slides-width - 12) + px;
            img{
              opacity: 1;
              width: $img-width + px;
            }
          }
    
          &:not(.animating){
            margin-left: -($child-4-w - 12) + px;
            z-index: 1;
    
            transition-duration: 0.4s;
            -webkit-transition-duration: 0.4s;
    
            img{
              opacity: 0.25;
              width: $child-4-w + px;
            }
          }
        }*/
    /*
        img{
          width: $img-width;
          transition: opacity 0.5s;
          -webkit-transition: opacity 0.5s;
          opacity: 1;
        }
    
        &:nth-child(1){
          width: $img-width + px;
          z-index: 4;
          -webkit-transition-delay: 0.4s;
          img{ opacity: 1; -webkit-transition-delay: 0.4s;}
        }
    
        &:nth-child(2){
          $child-2-w: ($img-width * 0.952);
          width: $child-2-w + px;
          margin-left: -($child-2-w - 12) + px;
          z-index: 3;
    
          img{ opacity: 0.75; }
        }
    
        &:nth-child(3){
          $child-3-w: ($img-width * 0.904);
          width: $child-3-w + px;
          margin-left: -($child-3-w - 12) + px;
          z-index: 2;
    
          img{ opacity: 0.5; }
        }
    
        &:nth-child(4){
          $child-4-w: ($img-width * 0.856);
          width: $child-4-w + px;
          margin-left: -($child-4-w - 12) + px;
          z-index: 1;
    
          transition-duration: 10s;
          -webkit-transition-duration: 10s;
          transition-delay: 0.4s;
          -webkit-transition-delay: 0.4s;
    
          img{ opacity: 0.25; transition-delay: 0.4s; -webkit-transition-delay: 0.4s;}
        }
        */ }
    .ihc-promotions .slide:nth-child(1) {
      z-index: 4; }
    .ihc-promotions .slide:nth-child(2) {
      z-index: 3; }
    .ihc-promotions .slide:nth-child(3) {
      z-index: 2; }
    .ihc-promotions .slide:nth-child(4) {
      z-index: 1; }
  .ihc-promotions .slides-footer {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
    -o-align-items: baseline;
    align-items: baseline;
    padding: 13px 0;
    margin-left: auto; }
    .ihc-promotions .slides-footer.right {
      margin-left: 0; }
  .ihc-promotions .slideshow-control {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    margin: auto; }
    @media (max-width: 480px) {
      .ihc-promotions .slideshow-control {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px; } }
  .ihc-promotions .slideshow-arrow {
    display: none;
    /*
    width: 9px;
    height: 15px;
    background-repeat: no-repeat;
    cursor: pointer;

    &.prev{
      margin-right: 25px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='15' width='8'%3E%3Cpath d='M0 7.5 L 8 0 M8 15 L 0 7.5' fill='transparent' stroke='#605d5e' /%3E%3C/svg%3E");
    }

    &.next{
      margin-left: 25px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='15' width='8'%3E%3Cpath d='M0 0 L 8 7.5 L 0 15' fill='transparent' stroke='#605d5e' /%3E%3C/svg%3E");
    }

    @include breakpoint(m-s){
      &.prev{ margin-right: 15px; }
      &.next{ margin-left: 15px; }
    }
    */ }
  .ihc-promotions .control-button-container, .ihc-promotions ul.control-button-container {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: baseline;
    -moz-align-items: baseline;
    -ms-align-items: baseline;
    -o-align-items: baseline;
    align-items: baseline;
    max-width: 155px;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
    margin: auto; }
    .ihc-promotions .control-button-container li, .ihc-promotions ul.control-button-container li {
      padding-left: 6px !important;
      padding-right: 6px !important; }
  .ihc-promotions .slide-button-container {
    position: relative; }
    .ihc-promotions .slide-button-container > * {
      width: 10px;
      height: 10px; }
    .ihc-promotions .slide-button-container input {
      position: absolute;
      margin: 0;
      opacity: 0;
      cursor: pointer; }
      .ihc-promotions .slide-button-container input:checked + span {
        -webkit-transition: background-color 0.3s linear;
        transition: background-color 0.3s linear;
        background-color: #acacac; }
    .ihc-promotions .slide-button-container span {
      display: block;
      top: 0;
      left: 0;
      cursor: pointer;
      border-radius: 50%;
      border: 1px solid #acacac;
      background-color: #FFFFFF; }

/*# sourceMappingURL=ihc-promotions-style.css.map */
